.images {
  width: 100%;
  height: 200px;
}

.title {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.image {
  width: 33%;
}

.icon {
  font-size: 2rem;
  margin-right: 5px;
  color: var(--prussian-blue);
}
.tmdbIcon {
  width: 50px;
  cursor: pointer;
}
.video {
  height: 400px;
}
