/* csslint ignore:start */

.container {
  z-index: 99999;
  background-color: white !important;
  transition: box-shadow 0.5s !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border: 2px solid grey !important;
  border-top-width: 0px !important;
  max-height: 500px;
  overflow-y: scroll;
}
.searchContainer {
  z-index: 10;
  flex: 2;
}
.searchContainer > .div {
  flex: 1;
}
.tab {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: var(--gold-leaf);
}
.tab-first {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--gold-leaf);
}
.tab-right {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--gold-leaf);
}
.active {
  background-color: var(--ivory-black);
  color: white;
}
.inactive {
  background-color: var(--ivory-black);
  color: white;
  opacity: 0.65;
}
