.menuItem {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.menuItem:hover {
  background-color: var(--background-color);
  color: black;
}
