/* csslint ignore:start */

.menuItem {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.menuItem:hover {
  border-bottom: solid 4px var(--gold-leaf);
}
.selected {
  border-bottom: solid 4px var(--gold-leaf);
}
