$prussian-blue: #083c5d !default;
$gold-leaf: #d98310;
$sky-blue: #328cc1;

$primary: $prussian-blue;
:root {
  --background-color: white;
  --prussian-blue: #083c5d;
  --sky-blue: #328cc1;
  --gold-leaf: #d98310;
  --ivory-black: #1d2731;
}
